@page "/techstack/bigdata"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Big Data</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BigData.Kafka" title="Apache Kafka" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache Kafka" src="@Config.Images.TechStack.BigData.Kafka" class="img-fluid" title="Apache Kafka" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BigData.MSK" title="AWS MSK" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="AWS MSK" src="@Config.Images.TechStack.BigData.MSK" class="img-fluid" title="AWS MSK" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BigData.KafkaUI" title="AWS MSK" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Kafka UI" src="@Config.Images.TechStack.BigData.KafkaUI" class="img-fluid" title="Kafka UI" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BigData.Redpanda" title="AWS MSK" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Redpanda" src="@Config.Images.TechStack.BigData.Redpanda" class="img-fluid" title="Redpanda" />
                </div>
            </a>
        </div>
    </div>
</div>