@page "/techstack/cloud"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Cloud</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-1">
                <a href="@Config.Tech.Links.Cloud.AWS" title="AWS" target="_blank" class="blanklink">
                    <div class="mt-1 p-1 text-white rounded text-center">
                        <img alt="AWS" src="@Config.Images.TechStack.Cloud.AWS" class="img-fluid" title="AWS" />
                    </div>
                </a>
            </div>
            <div class="col-sm-1">
                <a href="@Config.Tech.Links.Cloud.Azure" title="Azure" target="_blank" class="blanklink">
                    <div class="mt-1 p-1 text-white rounded text-center ">
                        <img alt="Azure" src="@Config.Images.TechStack.Cloud.Azure" class="img-fluid" title="Azure" />
                    </div>
                </a>
            </div>
            <div class="col-sm-1">
                <a href="@Config.Tech.Links.Cloud.Google" title="Google" target="_blank" class="blanklink">
                    <div class="mt-1 p-1 text-white rounded text-center ">
                        <img alt="Google" src="@Config.Images.TechStack.Cloud.Google" class="img-fluid" title="Google" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>