@page "/techstack/databases"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Databases</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.MSSQLServer" title="Microsoft SQL Server" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Microsoft SQL Server" src="@Config.Images.TechStack.Databases.MSSQLServer" class="img-fluid" title="Microsoft SQL Server" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.MySQL" title="MySQL" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="MySQL" src="@Config.Images.TechStack.Databases.MySQL" class="img-fluid" title="MySQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.PostgreSQL" title="PostgreSQL" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="PostgreSQL" src="@Config.Images.TechStack.Databases.PostgreSQL" class="img-fluid" title="PostgreSQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonDynamoDB" title="Amazon DynamoDB" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon DynamoDB" src="@Config.Images.TechStack.Databases.AmazonDynamoDB" class="img-fluid" title="Amazon DynamoDB" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRDS" title="Amazon RDS" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon RDS" src="@Config.Images.TechStack.Databases.AmazonRDS" class="img-fluid" title="PaAmazon RDSgerDuty" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRDSAurora" title="Amazon RDS: Aurora" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon RDS: Aurora" src="@Config.Images.TechStack.Databases.AmazonRDSAurora" class="img-fluid" title="Amazon RDS: Aurora" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRDSMySQL" title="Amazon RDS: MySQL" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon RDS: MySQL" src="@Config.Images.TechStack.Databases.AmazonRDSMySQL" class="img-fluid" title="Amazon RDS: MySQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRDSPostgreSQL" title="Amazon RDS: PostgreSQL" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon RDS: PostgreSQL" src="@Config.Images.TechStack.Databases.AmazonRDSPostgreSQL" class="img-fluid" title="Amazon RDS: PostgreSQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRDSSQL" title="Amazon RDS: SQL Server" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon RDS: SQL Server" src="@Config.Images.TechStack.Databases.AmazonRDSSQL" class="img-fluid" title="Amazon RDS: SQL Server" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRDSCustom" title="Amazon RDS: Custom" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon RDS: Custom" src="@Config.Images.TechStack.Databases.AmazonRDSCustom" class="img-fluid" title="Amazon RDS: Custom" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonDocumentDB" title="Amazon DocumentDB" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon DocumentDB" src="@Config.Images.TechStack.Databases.AmazonDocumentDB" class="img-fluid" title="Amazon DocumentDB" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AmazonRedshift" title="Amazon Redshift" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Amazon Redshift" src="@Config.Images.TechStack.Databases.AmazonRedshift" class="img-fluid" title="Amazon Redshift" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AzureCosmosDB" title="Azure: Cosmos DB" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure: Cosmos DB" src="@Config.Images.TechStack.Databases.AzureCosmosDB" class="img-fluid" title="Azure: Cosmos DB" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AzureSQL" title="Azure: SQL Server" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure: SQL Server" src="@Config.Images.TechStack.Databases.AzureSQL" class="img-fluid" title="Azure: SQL Server" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AzurePostgreSQL" title="Azure: PostgreSQL" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure: PostgreSQL" src="@Config.Images.TechStack.Databases.AzurePostgreSQL" class="img-fluid" title="Azure: PostgreSQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AzureMySQL" title="Azure: MySQL" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure: MySQL" src="@Config.Images.TechStack.Databases.AzureMySQL" class="img-fluid" title="Azure: MySQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.AzureRedis" title="Azure Cache for Redis 2" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure Cache for Redis 2" src="@Config.Images.TechStack.Databases.AzureRedis" class="img-fluid" title="Azure Cache for Redis 2" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Databases.Redis" title="Redis" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Redis" src="@Config.Images.TechStack.Databases.Redis" class="img-fluid" title="Redis" />
                </div>
            </a>
        </div>
    </div>
</div>