@page "/techstack/frameworks"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Frameworks</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Frameworks.dotnet" title=".NET Framework" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt=".NET Framework" src="@Config.Images.TechStack.Frameworks.dotnet" class="img-fluid" title=".NET Framework" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Frameworks.dotnetcore" title=".NET Core" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt=".NET Core" src="@Config.Images.TechStack.Frameworks.dotnetcore" class="img-fluid" title=".NET Core" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Frameworks.spring" title="Spring" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Spring" src="@Config.Images.TechStack.Frameworks.spring" class="img-fluid" title="Spring" />
                </div>
            </a>
        </div>
    </div>
</div>