@page "/techstack/monitoring"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Monitoring</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Monitoring.Instana" title="Instana" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Instana" src="@Config.Images.TechStack.Monitoring.Instana" class="img-fluid" title="Instana" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Monitoring.Grafana" title="Grafana" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Grafana" src="@Config.Images.TechStack.Monitoring.Grafana" class="img-fluid" title="Grafana" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Monitoring.OpenSearch" title="OpenSearch" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="OpenSearch" src="@Config.Images.TechStack.Monitoring.OpenSearch" class="img-fluid" title="OpenSearch" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Monitoring.Elastic" title="Elastic" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Elastic" src="@Config.Images.TechStack.Monitoring.Elastic" class="img-fluid" title="Elastic" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Monitoring.PagerDuty" title="PagerDuty" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="PagerDuty" src="@Config.Images.TechStack.Monitoring.PagerDuty" class="img-fluid" title="PagerDuty" />
                </div>
            </a>
        </div>
    </div>
</div>