@page "/techstack/orm"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: ORM &amp; Tools</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a href="@Config.Tech.Links.ORM.ODBC" title="ODBC" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="ODBC" src="@Config.Images.TechStack.ORM.ODBC" class="img-fluid" title="ODBC" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.ORM.EF" title="Entity Framework" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Entity Framework" src="@Config.Images.TechStack.ORM.EF" class="img-fluid" title="Entity Framework" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.ORM.EFCore" title="Entity Framework Core" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Entity Framework Core" src="@Config.Images.TechStack.ORM.EFCore" class="img-fluid" title="Entity Framework Core" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.ORM.JDBC" title="JDBC" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="JDBC" src="@Config.Images.TechStack.ORM.JDBC" class="img-fluid" title="JDBC" />
                </div>
            </a>
        </div>
    </div>
</div>