@page "/techstack/sourcecontrol"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Source Control</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.Git" title="Git" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Git" src="@Config.Images.TechStack.SourceControl.Git" class="img-fluid" title="Git" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.GitHub" title="GitHub" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="GitHub" src="@Config.Images.TechStack.SourceControl.GitHub" class="img-fluid" title="GitHub" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.GitLab" title="GitLab" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="GitLab" src="@Config.Images.TechStack.SourceControl.GitLab" class="img-fluid" title="GitLab" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.AWSCodeCommit" title="AWS CodeCommit" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="AWS CodeCommit" src="@Config.Images.TechStack.SourceControl.AWSCodeCommit" class="img-fluid" title="AWS CodeCommit" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.TFS" title="Team Foundation Server" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Team Foundation Server" src="@Config.Images.TechStack.SourceControl.TFS" class="img-fluid" title="Team Foundation Server" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.AzureDevOps" title="Azure DevOps" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure DevOps" src="@Config.Images.TechStack.SourceControl.AzureDevOps" class="img-fluid" title="Azure DevOps" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.Bitbucket" title="Bitbucket" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Bitbucket" src="@Config.Images.TechStack.SourceControl.Bitbucket" class="img-fluid" title="Bitbucket" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.TortoiseSVN" title="TortoiseSVN" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Tortoise SVN" src="@Config.Images.TechStack.SourceControl.TortoiseSVN" class="img-fluid" title="Tortoise SVN" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.VisualSVN" title="Visual SVN" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Visual SVN" src="@Config.Images.TechStack.SourceControl.VisualSVN" class="img-fluid" title="Visual SVN" />
                </div>
            </a>
        </div>
    </div>
</div>