@page "/certifications/aws"

<div class="row">
    <div class="col-auto">
        <a href="/certifications" class="button" title="Back"><img alt="back" src="@Config.Back" class="button" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>AWS Certifications</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/00cf5451-6ea7-4774-afb2-d0342929a174" title="AWS Cloud Quest: Solutions Architect" target="_blank">
                <img alt="AWS Cloud Quest: Solutions Architect" src="@Config.CloudQuestSolutionsArchitect" class="badges" title="AWS Cloud Quest: Solutions Architect" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/d09ec7ed-9a44-42ce-92fb-b2e2787910f0" title="AWS Certified Solutions Architect – Associate" target="_blank">
                <img alt="AWS Certified Solutions Architect – Associate" src="@Config.SolutionsArchitect" class="badges" title="AWS Certified Solutions Architect – Associate" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/991075f7-c23f-4bd6-a225-91249bf051c6" title="AWS Certified Cloud Practitioner" target="_blank">
                <img alt="AWS Certified Cloud Practitioner" src="@Config.CloudPractitioner" class="badges" title="AWS Certified Cloud Practitioner" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/1cf7622c-7524-42ed-ae20-5a2d17e37561" title="AWS Cloud Quest: Cloud Practitioner" target="_blank">
                <img alt="AWS Cloud Quest: Cloud Practitioner" src="@Config.CloudQuestCloudPractitioner" class="badges" title="AWS Cloud Quest: Cloud Practitioner" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/d1068218-e7ec-4b28-8fba-e272852360f2" title="AWS Educate Getting Started with Compute" target="_blank">
                <img alt="AWS Educate Getting Started with Compute" src="@Config.EducateGettingStartedWithCompute" class="badges" title="AWS Educate Getting Started with Compute" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/dfdd6ed2-9b36-423d-846a-32fa960b6341" title="AWS Educate Getting Started with Networking" target="_blank">
                <img alt="AWS Educate Getting Started with Networking" src="@Config.EducateGettingStartedWithNetworking" class="badges" title="AWS Educate Getting Started with Networking" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/50641910-9922-47a6-8b70-040f48db87c1" title="AWS Educate Getting Started with Databases" target="_blank">
                <img alt="AWS Educate Getting Started with Databases" src="@Config.EducateGettingStartedWithDatabases" class="badges" title="AWS Educate Getting Started with Databases" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/f94c2e3c-050e-47c6-b4f8-205586a803fa" title="AWS Educate Getting Started with Storage" target="_blank">
                <img alt="AWS Educate Getting Started with Storage" src="@Config.EducateGettingStartedWithStorage" class="badges" title="AWS Educate Getting Started with Storage" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/35fbda8f-f35e-4857-8d2f-0cec900b7eac" title="AWS Educate Getting Started with Cloud Ops" target="_blank">
                <img alt="AWS Educate Getting Started with Cloud Ops" src="@Config.EducateGettingStartedWithCloudOps" class="badges" title="AWS Educate Getting Started with Cloud Ops" />
            </a>
        </div>
    </div>
</div> 