@page "/certifications/aws"

<div class="row">
    <div class="col-auto">
        <a href="/certifications" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>AWS Certifications</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin:0">

        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/d09ec7ed-9a44-42ce-92fb-b2e2787910f0" title="AWS Certified Solutions Architect – Associate" target="_blank">
                <img alt="AWS Certified Solutions Architect – Associate" src="@Config.Images.AWS.SolutionsArchitect" class="badges img-fluid" title="AWS Certified Solutions Architect – Associate" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/991075f7-c23f-4bd6-a225-91249bf051c6" title="AWS Certified Cloud Practitioner" target="_blank">
                <img alt="AWS Certified Cloud Practitioner" src="@Config.Images.AWS.CloudPractitioner" class="badges img-fluid" title="AWS Certified Cloud Practitioner" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/00cf5451-6ea7-4774-afb2-d0342929a174" title="AWS Cloud Quest: Solutions Architect" target="_blank">
                <img alt="AWS Cloud Quest: Solutions Architect" src="@Config.Images.AWS.CloudQuestSolutionsArchitect" class="badges img-fluid" title="AWS Cloud Quest: Solutions Architect" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/1cf7622c-7524-42ed-ae20-5a2d17e37561" title="AWS Cloud Quest: Cloud Practitioner" target="_blank">
                <img alt="AWS Cloud Quest: Cloud Practitioner" src="@Config.Images.AWS.CloudQuestCloudPractitioner" class="badges img-fluid" title="AWS Cloud Quest: Cloud Practitioner" />
            </a>
        </div>
    </div>

    <hr />

    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/d1068218-e7ec-4b28-8fba-e272852360f2" title="AWS Educate Getting Started with Compute" target="_blank">
                <img alt="AWS Educate Getting Started with Compute" src="@Config.Images.AWS.EducateGettingStartedWithCompute" class="badges img-fluid" title="AWS Educate Getting Started with Compute" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/08073576-7423-48a0-a855-9a522676dd64" title="AWS Educate Getting Started with Serverless" target="_blank">
                <img alt="AWS Educate Getting Started with Serverless" src="@Config.Images.AWS.EducateGettingStartedWithServerless" class="badges img-fluid" title="AWS Educate Getting Started with Serverless" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/f94c2e3c-050e-47c6-b4f8-205586a803fa" title="AWS Educate Getting Started with Storage" target="_blank">
                <img alt="AWS Educate Getting Started with Storage" src="@Config.Images.AWS.EducateGettingStartedWithStorage" class="badges img-fluid" title="AWS Educate Getting Started with Storage" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Educate Introduction to Cloud 101" target="_blank">
                <img alt="AWS Educate Introduction to Cloud 101" src="@Config.Images.AWS.EducateIntroductionToCloud" class="badges img-fluid" title="AWS Educate Introduction to Cloud 101" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Educate Machine Learning - DeepRacer" target="_blank">
                <img alt="AWS Educate Machine Learning - DeepRacer" src="@Config.Images.AWS.EducateMachineLearningDeepRacer" class="badges img-fluid" title="AWS Educate Machine Learning - DeepRacer" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/50641910-9922-47a6-8b70-040f48db87c1" title="AWS Educate Getting Started with Databases" target="_blank">
                <img alt="AWS Educate Getting Started with Databases" src="@Config.Images.AWS.EducateGettingStartedWithDatabases" class="badges img-fluid" title="AWS Educate Getting Started with Databases" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/dfdd6ed2-9b36-423d-846a-32fa960b6341" title="AWS Educate Getting Started with Networking" target="_blank">
                <img alt="AWS Educate Getting Started with Networking" src="@Config.Images.AWS.EducateGettingStartedWithNetworking" class="badges img-fluid" title="AWS Educate Getting Started with Networking" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/aef519ea-3992-4d2b-aa16-5210ec002bee" title="AWS Educate Getting Started with Security" target="_blank">
                <img alt="AWS Educate Getting Started with Security" src="@Config.Images.AWS.EducateGettingStartedWithSecurity" class="badges img-fluid" title="AWS Educate Getting Started with Security" />
            </a>
        </div>
    </div>

    <hr />

    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/35fbda8f-f35e-4857-8d2f-0cec900b7eac" title="AWS Educate Getting Started with Cloud Ops" target="_blank">
                <img alt="AWS Educate Getting Started with Cloud Ops" src="@Config.Images.AWS.EducateGettingStartedWithCloudOps" class="badges img-fluid" title="AWS Educate Getting Started with Cloud Ops" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/2a579f6d-b209-437c-9460-db0ae9e500c4" title="AWS Well-Architected Proficient" target="_blank">
                <img alt="AWS Well-Architected Proficient" src="@Config.Images.AWS.ProficientWellArchitected" class="badges img-fluid" title="AWS Well-Architected Proficient" />
            </a>
        </div>
    </div>

    <hr />

    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Architecting" target="_blank">
                <img alt="AWS Knowledge Architecting" src="@Config.Images.AWS.KnowledgeArchitecting" class="badges img-fluid" title="AWS Knowledge Architecting" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Serverless" target="_blank">
                <img alt="AWS Knowledge Serverless" src="@Config.Images.AWS.KnowledgeServerless" class="badges img-fluid" title="AWS Knowledge Serverless" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Compute" target="_blank">
                <img alt="AWS Knowledge Compute" src="@Config.Images.AWS.KnowledgeCompute" class="badges img-fluid" title="AWS Knowledge Compute" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Amazon Braket" target="_blank">
                <img alt="AWS Knowledge Amazon Braket" src="@Config.Images.AWS.KnowledgeBraket" class="badges img-fluid" title="AWS Knowledge Amazon Braket" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Amazon EKS" target="_blank">
                <img alt="AWS Knowledge Amazon EKS" src="@Config.Images.AWS.KnowledgeEKS" class="badges img-fluid" title="AWS Knowledge Amazon EKS" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Cloud Essentials" target="_blank">
                <img alt="AWS Knowledge Cloud Essentials" src="@Config.Images.AWS.KnowledgeCloudEssentials" class="badges img-fluid" title="AWS Knowledge Cloud Essentials" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Networking Core" target="_blank">
                <img alt="AWS Knowledge Networking Core" src="@Config.Images.AWS.KnowledgeNetworkingCore" class="badges img-fluid" title="AWS Knowledge Networking Core" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Migration Foundations" target="_blank">
                <img alt="AWS Knowledge Migration Foundations" src="@Config.Images.AWS.KnowledgeMigrationFoundations" class="badges img-fluid" title="AWS Knowledge Migration Foundations" />
            </a>
        </div>
    </div>

    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Events And Workflows" target="_blank">
                <img alt="AWS Knowledge Events And Workflows" src="@Config.Images.AWS.KnowledgeEventsAndFlows" class="badges img-fluid" title="AWS Knowledge Events And Workflows" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge AWS for Games: Cloud Game Development" target="_blank">
                <img alt="AWS Knowledge AWS for Games: Cloud Game Development" src="@Config.Images.AWS.KnowledgeGamesCloudDev" class="badges img-fluid" title="AWS Knowledge AWS for Games: Cloud Game Development" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Storage Technologist" target="_blank">
                <img alt="AWS Knowledge Storage Technologist" src="@Config.Images.AWS.KnowledgeStorageTechnologist" class="badges img-fluid" title="AWS Knowledge Storage Technologist" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Storage Core" target="_blank">
                <img alt="AWS Knowledge Storage Core" src="@Config.Images.AWS.KnowledgeStorageCore" class="badges img-fluid" title="AWS Knowledge Storage Core" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Data Protection & Disaster Recovery" target="_blank">
                <img alt="AWS Knowledge Data Protection & Disaster Recovery" src="@Config.Images.AWS.KnowledgeDataProtection" class="badges img-fluid" title="AWS Knowledge Data Protection & Disaster Recovery" />
            </a>
        </div>

        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge File Storage" target="_blank">
                <img alt="AWS Knowledge File Storage" src="@Config.Images.AWS.KnowledgeFileStorage" class="badges img-fluid" title="AWS Knowledge File Storage" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS Knowledge Data Migration" target="_blank">
                <img alt="AWS Knowledge Data Migration" src="@Config.Images.AWS.KnowledgeDataMigration" class="badges img-fluid" title="AWS Knowledge Data Migration" />
            </a>
        </div>
    </div>

    <hr />

    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="Amazon Rekognition and .NET Workloads" target="_blank">
                <img alt="Amazon Rekognition and .NET Workloads" src="@Config.Images.AWS.DotNetRekognition" class="badges img-fluid" title="Amazon Rekognition and .NET Workloads" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="Amazon Textract and .NET Workloads" target="_blank">
                <img alt="Amazon Textract and .NET Workloads" src="@Config.Images.AWS.DotNetTextract" class="badges img-fluid" title="Amazon Textract and .NET Workloads" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="AWS App2Container and .NET Workloads" target="_blank">
                <img alt="AWS App2Container and .NET Workloads" src="@Config.Images.AWS.DotNetApp2Container" class="badges img-fluid" title="AWS App2Container and .NET Workloads" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title=".NET Workloads on AWS Lambda" target="_blank">
                <img alt=".NET Workloads on AWS Lambda" src="@Config.Images.AWS.DotNetLambda" class="badges img-fluid" title=".NET Workloads on AWS Lambda" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title=".NET Workloads on AWS App Runner" target="_blank">
                <img alt=".NET Workloads on AWS App Runner" src="@Config.Images.AWS.DotNetAppRunner" class="badges img-fluid" title=".NET Workloads on AWS App Runner" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title=".NET Workloads on Amazon ECS on AWS Fargate" target="_blank">
                <img alt=".NET Workloads on Amazon ECS on AWS Fargate" src="@Config.Images.AWS.DotNetECS" class="badges img-fluid" title=".NET Workloads on Amazon ECS on AWS Fargate" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a onclick="alert('Work in Progress')" title="Migration Hub Strategy Recommendations and .NET Workloads" target="_blank">
                <img alt="Migration Hub Strategy Recommendations and .NET Workloads" src="@Config.Images.AWS.DotNetMigrationHub" class="badges img-fluid" title="Migration Hub Strategy Recommendations and .NET Workloads" />
            </a>
        </div>
    </div>
</div>