@page "/certifications/microsoft/cert/{CertId:guid}"

<div class="row">
    <div class="col-auto">
        <a href="/certifications/microsoft" class="button" title="Back"><img alt="back" src="@Config.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>@CertTitle()</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin:0">
        <div class="col-12 text-center">
            <img alt="@CertTitle()" src="@CertData()" class="socials3 img-fluid" title="@CertTitle()" />
        </div>
    </div>
</div> 

@code {
    [Parameter]
    public Guid CertId { get; set; }

    public string CertTitle()
    {
        return new ConfigurationBuilder().AddJsonFile("content.json").Build().GetSection("Certifications:Microsoft:Certificates:Title")[Convert.ToString(CertId)];
    }

    public string CertData()
    {
        return new ConfigurationBuilder().AddJsonFile("content.json").Build().GetSection("Certifications:Microsoft:Certificates:Data")[Convert.ToString(CertId)];
    }
}