@inherits SeasonOfAI24Model
@page "/publicspeaking/seasonofai/2024"

<div class="row">
    <div class="col-auto">
        <a href="/publicspeaking" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Season of AI</h1>
            <h2>2024</h2>
            <hr class="pagedivider" />
            <div class="container-fluid" style="margin-top: -50px;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="https://cptmsdug.dev" title="Season of AI 2024" target="_blank">
                            <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                                <img alt="Season of AI 2024" src="@Config.Images.PublicSpeaking.SeasonOfAI2024" class="img-fluid" title="Season of AI 2024" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2><b>Navigating GitHub CoPilot: Piloting Your Code Safely</b></h2>
        <h5>
            In today's day and age where GitHub CoPilot's new home is in your IDE, Engineers and Developers run the risk to hand over the controls over to GitHub CoPilot and just expect to run awesome code... well... that might not work out as expected.

            Come hear why we never should trust the output of GitHub CoPilot, and always be in full control of your code's flight path! AI is here to help, not to take over!
        </h5>
        <div class="mt-5 p-1 text-white rounded text-center">
            <div class="row">
                <div class="col-4">
                    <a href="https://sessionize.com/s/henniefrancis/navigating-github-copilot-piloting-your-code-safel/98259" title="Sessionize Session" target="_blank" class="blanklink">
                        <img alt="Sessionize" src="@Config.Images.Socials.Sessionize" class="img-fluid" style="width: 400px;" title="Sessionize" />
                    </a>
                </div>
                <div class="col-4">
                    <h3><b>Cape Town</b></h3>
                    <a href="https://www.youtube.com/watch?v=tL7au0hSOBY" title="Watch it on YouTube" target="_blank" class="blanklink">
                        <img alt="Watch it on YouTube" src="@Config.Images.Socials.YouTubeWatch" class="img-fluid" style="width: 200px;" title="Watch it on YouTube" />
                    </a>
                </div>
                <div class="col-4">
                    <h3><b>Johannesburg</b></h3>
                    <a href="https://www.youtube.com/watch?v=hlunhsEWPgE&t" title="Sessionize Session" target="_blank" class="blanklink">
                        <img alt="Watch it on YouTube" src="@Config.Images.Socials.YouTubeWatch" class="img-fluid" style="width: 200px;" title="Watch it on YouTube" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>