@page "/certifications"

<h1>Certifications</h1>

<div class="container-fluid">
    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/00cf5451-6ea7-4774-afb2-d0342929a174" title="AWS Cloud Quest: Solutions Architect" target="_blank">
                <img alt="AWS Cloud Quest: Solutions Architect" src="@Config.Images.AWS.CloudQuestSolutionsArchitect" class="badges img-fluid" title="AWS Cloud Quest: Solutions Architect" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/d09ec7ed-9a44-42ce-92fb-b2e2787910f0" title="AWS Certified Solutions Architect – Associate" target="_blank">
                <img alt="AWS Certified Solutions Architect – Associate" src="@Config.Images.AWS.SolutionsArchitect" class="badges img-fluid" title="AWS Certified Solutions Architect – Associate" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/991075f7-c23f-4bd6-a225-91249bf051c6" title="AWS Certified Cloud Practitioner" target="_blank">
                <img alt="AWS Certified Cloud Practitioner" src="@Config.Images.AWS.CloudPractitioner" class="badges img-fluid" title="AWS Certified Cloud Practitioner" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/1cf7622c-7524-42ed-ae20-5a2d17e37561" title="AWS Cloud Quest: Cloud Practitioner" target="_blank">
                <img alt="AWS Cloud Quest: Cloud Practitioner" src="@Config.Images.AWS.CloudQuestCloudPractitioner" class="badges img-fluid" title="AWS Cloud Quest: Cloud Practitioner" />
            </a>
        </div>
    </div>
    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/aef519ea-3992-4d2b-aa16-5210ec002bee" title="AWS Educate Getting Started with Security" target="_blank">
                <img alt="AWS Educate Getting Started with Security" src="@Config.Images.AWS.EducateGettingStartedWithSecurity" class="badges img-fluid" title="AWS Educate Getting Started with Security" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/08073576-7423-48a0-a855-9a522676dd64" title="AWS Educate Getting Started with Serverless" target="_blank">
                <img alt="AWS Educate Getting Started with Serverless" src="@Config.Images.AWS.EducateGettingStartedWithServerless" class="badges img-fluid" title="AWS Educate Getting Started with Serverless" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/d1068218-e7ec-4b28-8fba-e272852360f2" title="AWS Educate Getting Started with Compute" target="_blank">
                <img alt="AWS Educate Getting Started with Compute" src="@Config.Images.AWS.EducateGettingStartedWithCompute" class="badges img-fluid" title="AWS Educate Getting Started with Compute" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/dfdd6ed2-9b36-423d-846a-32fa960b6341" title="AWS Educate Getting Started with Networking" target="_blank">
                <img alt="AWS Educate Getting Started with Networking" src="@Config.Images.AWS.EducateGettingStartedWithNetworking" class="badges img-fluid" title="AWS Educate Getting Started with Networking" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/50641910-9922-47a6-8b70-040f48db87c1" title="AWS Educate Getting Started with Databases" target="_blank">
                <img alt="AWS Educate Getting Started with Databases" src="@Config.Images.AWS.EducateGettingStartedWithDatabases" class="badges img-fluid" title="AWS Educate Getting Started with Databases" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/f94c2e3c-050e-47c6-b4f8-205586a803fa" title="AWS Educate Getting Started with Storage" target="_blank">
                <img alt="AWS Educate Getting Started with Storage" src="@Config.Images.AWS.EducateGettingStartedWithStorage" class="badges img-fluid" title="AWS Educate Getting Started with Storage" />
            </a>
        </div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/35fbda8f-f35e-4857-8d2f-0cec900b7eac" title="AWS Educate Getting Started with Cloud Ops" target="_blank">
                <img alt="AWS Educate Getting Started with Cloud Ops" src="@Config.Images.AWS.EducateGettingStartedWithCloudOps" class="badges img-fluid" title="AWS Educate Getting Started with Cloud Ops" />
            </a>
        </div>
    </div>
</div>

<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 badgediv2"><a href="@Config.Images.Microsoft.Microsoft_cert_Power_Platform_Fundamentals" title="Microsoft Certified: Power Platform Fundamentals" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_Power_Platform_Fundamentals" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="@Config.Images.Microsoft.Microsoft_cert_Azure_Data_Fundamentals" title="Microsoft Certified: Azure Data Fundamentals" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_Azure_Data_Fundamentals" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="@Config.Images.Microsoft.Microsoft_cert_Azure_AI_Fundamentals" title="Microsoft Certified: Azure AI Fundamentals" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_Azure_AI_Fundamentals" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="@Config.Images.Microsoft.Microsoft_cert_Azure_SCI_Fundamentals" title="Microsoft Certified: Security, Compliance, and Identity Fundamentals" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_Azure_SCI_Fundamentals" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCPD_Web" title="Microsoft® Certified Professional Developer: Web Developer 4" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCPD_Web" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_BID" title="Microsoft® Certified IT Professional: Business Intelligence Developer 2008" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_BID" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCTS_SQL_BI" title="Microsoft® Certified Technology Specialist: SQL Server 2008, Business Intelligence Development and Maintenance" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCTS_SQL_BI" class="badges2 img-fluid" /></a></div>
    </div>
    <div class="row">
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCTS_SPD" title="Microsoft® Certified Technology Specialist: SharePoint 2010, Application Development" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCTS_SPD" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCTS_DA" title="Microsoft® Certified Technology Specialist: .NET Framework 4, Data Access" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCTS_DA" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_DBD" title="Microsoft® Certified IT Professional: Database Developer 2008" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_DBD" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_WCF" title="Microsoft® Certified Technology Specialist: .NET Framework 3.5, Windows Communication Foundation Applications" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_WCF" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_EAD" title="Microsoft® Certified Professional Developer: Enterprise Application Developer 3.5" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_EAD" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_ADO" title="Microsoft® Certified Technology Specialist: .NET Framework 3.5, ADO.NET Applications" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_ASP" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_ASP" title="Microsoft® Certified Technology Specialist: .NET Framework 3.5, ASP.NET Applications" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_WFA" class="badges2 img-fluid" /></a></div>
    </div>
    <div class="row">
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_dotnet_35_WFA" title="Microsoft® Certified Technology Specialist: .NET Framework 3.5, Windows Forms Applications" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_dotnet_35_WFA" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCTS_WA" title="Microsoft® Certified Technology Specialist: .NET Framework 4, Web Applications" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCTS_WA" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCTS_SCA" title="Microsoft® Certified Technology Specialist: .NET Framework 4, Service Communication Applications" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCTS_SCA" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv2"><a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCPD" title="Microsoft Certified Professional" target="_blank"><img src="@Config.Images.Microsoft.Microsoft_badge_MCPD" class="badges2 img-fluid" /></a></div>
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/dcbd5185-33ae-4267-b319-740705afdbeb" title="Microsoft Certified Trainer 2018-2019" target="_blank">
                <img alt="Microsoft Certified Trainer 2018-2019" src="@Config.Images.Microsoft.MCT2018_2019" class="badges img-fluid" title="Microsoft Certified Trainer 2018-2019" />
            </a>
        </div>
    </div>
</div>