@page "/"

<div class="container-fluid" style="margin-top: 0px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <div class="view">
                    <div class="circle">
                        <img src="@Config.Images.General.Profile">
                    </div>
                </div>
                <h1>@Config.About.Name</h1>
                <p>@Config.About.Title</p>
                <p>@Config.About.TagLine</p>
                <hr />
                <p>With more than @(DateTime.Now.Year - 2005) years’ experience in the industry. @Config.About.Section1</p>
                <hr />
                <p>@Config.About.Section2</p>
                <hr />
                <p>@Config.About.Section3</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="/biography" title="Biography">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="biography" src="@Config.Images.General.Biography" class="img-fluid" title="Biography" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/currentrole" title="Current Role">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="currentrole" src="@Config.Images.General.CurrentRole" class="img-fluid" title="Current Role" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/blog" title="Blog">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="blog" src="@Config.Images.General.Blog" class="img-fluid" title="Blog" />
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://www.linkedin.com/in/henniefrancis" target="_blank" title="LinkedIn">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="linkedin" src="@Config.Images.General.LinkedIn" class="img-fluid" title="LinkedIn" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/henniefrancis" target="_blank" title="GitHub">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="github" src="@Config.Images.General.GitHub" class="img-fluid" title="GitHub" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://sessionize.com/henniefrancis" target="_blank" title="Sessionize">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="sessionize" src="@Config.Images.General.Sessionize" class="img-fluid" title="Sessionize" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/techstack" title="Tech Stack">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="techstack" src="@Config.Images.General.TechStack" class="img-fluid" title="Tech Stack" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/certifications" title="Certifications">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="certifications" src="@Config.Images.General.Certifications" class="img-fluid" title="Certifications" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/specialawards" title="Special Awards">
                            <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                                <img alt="specialawards" src="@Config.Images.General.SpecialAwards" class="img-fluid" title="Special Awards" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

