@inherits SocialsModel
@page "/socialmedia"

<div class="row">
    <div class="col-auto">
        <a href="/" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Social Media</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a href="@Config.Links.Sessionize" title="Sessionize" target="_blank" class="blanklink">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Sessionize" src="@Config.Images.Socials.Sessionize" class="img-fluid" title="Sessionize" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Facebook" title="Facebook" target="_blank" class="blanklink">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Facebook" src="@Config.Images.Socials.Facebook" class="img-fluid" title="Facebook" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Twitter" title="Twitter" target="_blank" class="blanklink">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Twitter" src="@Config.Images.Socials.Twitter" class="img-fluid" title="Twitter" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Instagram" title="Instagram" target="_blank" class="blanklink">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Instagram" src="@Config.Images.Socials.Instagram" class="img-fluid" title="Instagram" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.YouTube" title="YouTube" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="YouTube" src="@Config.Images.Socials.YouTube" class="img-fluid" title="YouTube" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Twitch" title="Twitch" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Twitch" src="@Config.Images.Socials.Twitch" class="img-fluid" title="Twitch" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.LinkedIn" title="LinkedIn" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="LinkedIn" src="@Config.Images.Socials.LinkedIn" class="img-fluid" title="LinkedIn" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.TikTok" title="TikTok" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="TikTok" src="@Config.Images.Socials.TikTok" class="img-fluid" title="TikTok" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Discord" title="Discord" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Discord" src="@Config.Images.Socials.Discord" class="img-fluid" title="Discord" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.GitHub" title="GitHub" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="GitHub" src="@Config.Images.Socials.GitHub" class="img-fluid" title="GitHub" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.StackOverflow" title="StackOverflow" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="StackOverflow" src="@Config.Images.Socials.StackOverflow" class="img-fluid" title="StackOverflow" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.DEV" title="DEV" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center hometile">
                    <img alt="DEV" src="@Config.Images.Socials.DEV" class="img-fluid" title="DEV" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Medium" title="Medium" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Medium" src="@Config.Images.Socials.Medium" class="img-fluid" title="Medium" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.BMAC" title="BMAC" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="BMAC" src="@Config.Images.Socials.BMAC" class="img-fluid" title="BMAC" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Kofi" title="Kofi" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Kofi" src="@Config.Images.Socials.Kofi" class="img-fluid" title="Kofi" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.dotcoreSolutions" title="dotcoreSolutions" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="dotcoreSolutions" src="@Config.Images.Socials.dotcoreSolutions" class="img-fluid" title="dotcoreSolutions" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.GoogleDev" title="GoogleDev" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="GoogleDev" src="@Config.Images.Socials.GoogleDev" class="img-fluid" title="GoogleDev" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Links.Credly" title="Credly" target="_blank">
                <div class="mt-5 p-1 text-white rounded text-center">
                    <img alt="Credly" src="@Config.Images.Socials.Credly" class="img-fluid" title="Credly" />
                </div>
            </a>
        </div>
    </div>
</div>