@page "/techstack"

<div class="row">
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

Coming soon! Watch this space...
<div class="container-fluid">
    @*Languages*@
    <div class="row">
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.CSharp" title="C# 10" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="C#" src="@Config.Images.TechStack.Languages.CSharp" class="img-fluid" title="C#" />
                    <sub>C# 11</sub>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.JAVA" title="JAVA" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="JAVA" src="@Config.Images.TechStack.Languages.JAVA" class="img-fluid" title="JAVA" />
                    <sub>JAVA 21</sub>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.JS" title="Javascript" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="JS" src="@Config.Images.TechStack.Languages.JS" class="img-fluid" title="Javascript" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.MSSQL" title="Microsoft SQL" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Microsoft SQL" src="@Config.Images.TechStack.Languages.MSSQL" class="img-fluid" title="Microsoft SQL" />
                    <sub>Microsoft SQL 2022</sub>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="TSQL" title="Microsoft T-SQL" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Microsoft T-SQL" src="@Config.Images.TechStack.Languages.TSQL" class="img-fluid" title="Microsoft T-SQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.HTML5" title="HTML 5" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="HTML 5" src="@Config.Images.TechStack.Languages.HTML5" class="img-fluid" title="HTML 5" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.Python" title="Python" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Python" src="@Config.Images.TechStack.Languages.Python" class="img-fluid" title="Python" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.Angular" title="Angular" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Angular" src="@Config.Images.TechStack.Languages.Angular" class="img-fluid" title="Angular" />
                </div>
            </a>
        </div>
    </div>
</div>


<hr />
@*Frond-end*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.javascript.com" title="JavaScript" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>JavaScript</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://getbootstrap.com" title="Bootstrap" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Bootstrap</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.w3schools.com/css" title="CSS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>CSS</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://jquery.com" title="jQuery" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>jQuery</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.w3schools.com/html" title="HTML 5" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HTML 5</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://html5boilerplate.com" title="HTML 5: Boilerplate" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HTML 5 Boilerplate</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://angular.io" title="Angular" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Angular</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Back-end*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/dotnet/framework/wcf/whats-wcf" title="WCF" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>WCF</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/apis" title="ASP.NET Core API" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>ASP.NET Core API</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://microservices.io" title="Micro Services target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Micro Services</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://swagger.io" title="Swagger" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Swagger</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Web Apps*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspne" title="ASP.NET" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>ASP.NET</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc" title="ASP.NET MVC" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>ASP.NET MVC</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazo" title="Blazor" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Blazor</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Desktop Apps*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/dotnet/desktop/wpf/overview/?view=netdesktop-7.0" title="WPF" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>WPF</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/visualstudio/ide/create-csharp-winform-visual-studio?view=vs-2022" title="Windows Forms" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Windows Forms</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/maui" title=".NET MAUI" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>.NET MAUI</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/xamarin" title="Xamarin" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Xamarin</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Cloud*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://aws.amazon.com" title="AWS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>AWS</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com" title="Azure" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://cloud.google.com" title="GitLab" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Google</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*IoT*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.arduino.cc" title="Arduino" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Arduino</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://mqtt.org" title="MQTT" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>MQTT</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.raspberrypi.com" title="Raspberry Pi" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Raspberry Pi</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Big Data*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://kafka.apache.org" title="Apache Kafka" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Apache Kafka</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/msk" title="AWS MSK" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>AWS MSK</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/power-platform/products/power-bi" title="Microsoft Power BI" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft Power BI</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Analytics*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://analytics.google.com/analytics/academy" title="Google Analytics" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Google Analytics</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/power-platform/products/power-bi" title="Microsoft Power BI" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft Power BI</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/system-center/scsm/olap-cubes-overview?view=sc-sm-2022" title="OLAP Cubes" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>OLAP Cubes</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Web Hosting*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://httpd.apache.org" title="Apache HTTP" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Apache HTTP</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.nginx.com" title="nginx" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>nginx</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://cpanel.net" title="cPanel" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>cPanel</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.joomla.org" title="Joomla" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Joomla</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://wordpress.com" title="Wordpress" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Wordpress</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://bitnami.com" title="Bitnami" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Bitnami</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.iis.net" title="IIS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>IIS</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Source Control*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://git-scm.com" title="Git" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Git</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://github.com" title="GitHub" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>GitHub</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://about.gitlab.com" title="GitLab" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>GitLab</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/codecommit" title="Amazon Web Services" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>AWS CodeCommit</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/devops/server" title="Team Foundation Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Team Foundation Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/devops/server" title="Azure DevOps" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure DevOps</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://bitbucket.org/" title="Bitbucket" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Bitbucket</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://tortoisesvn.net" title="TortoiseSVN" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Tortoise SVN</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.visualsvn.com" title="Visual SVN" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Visual SVN</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Testing & QA*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://jmeter.apache.org" title="jMeter" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>jMeter</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://insomnia.rest" title="Insomnia" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Insomnia</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.postman.com" title="Postman" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Postman</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://smartbear.com/product/ready-api" title="Ready API" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Ready API</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://smartbear.com/product/testcomplete" title="Test Complete" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Test Complete</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*DevOps*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.rancher.com" title="Rancher" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Rancher</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.consul.io" title="HCP Consul" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HCP Consul</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.mirantis.com/software/mirantis-kubernetes-engine" title="Mirantis" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Mirantis</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.ansible.com" title="Ansible" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Ansible</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.jenkins.io" title="Jenkins" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Jenkins</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.docker.com" title="Docker" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Docker</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.terraform.io" title="Terraform" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Terraform</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://kubernetes.io" title="K8S" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>K8S</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://maven.apache.org" title="Apache Maven" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Apache Maven</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Monitoring*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.ibm.com/products/instana" title="Instana" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Instana</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://grafana.com" title="Grafana" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Grafana</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://opensearch.org" title="OpenSearch" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>OpenSearch</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.elastic.co/elasticsearch" title="Elastic" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Elastic</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.pagerduty.com/" title="PagerDuty" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>PagerDuty</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Database*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/sql-server" title="Microsoft SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.mysql.com" title="MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.postgresql.org" title="PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/dynamodb" title="Amazon DynamoDB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon DynamoDB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds" title="Amazon RDS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/aurora" title="Amazon RDS: Aurora" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: Aurora</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/mysql" title="Amazon RDS: MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/postgresql" title="Amazon RDS: PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/sqlserver" title="Amazon RDS: SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/custom" title="Amazon RDS: Custom" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: Custom</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/documentdb" title="Amazon DocumentDB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon DocumentDB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/redshift" title="Amazon Redshift" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon Redshift</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/cosmos-db" title="Azure: Cosmos DB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: Cosmos DB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/azure-sql/database" title="Azure: SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/postgresql" title="Azure: PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/mysql" title="Azure: MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/cache" title="Azure Cache for Redis 2" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure Cache for Redis 2</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Security*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.hashicorp.com/products/vault" title="HCP Vault" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HCP Vault</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Software*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/jira" title="JIRA" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>JIRA</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/confluence" title="Confluence" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Confluence</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/jira/service-management" title="JIRA Service Management" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>JIRA Service Management</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://slack.com" title="Slack" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Slack</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://trello.com" title="Trello" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Trello</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.jenkins.io" title="Jenkins" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Jenkins</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://developer.hashicorp.com/terraform/enterprise" title="Terraform Enterprise" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Terraform Enterprise</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.lucidchart.com" title="Lucidchart" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidchart</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://lucidspark.com" title="Lucidspark" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidspark</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://lucidscale.com" title="Lucidscale" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidscale</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://draw.io" title="draw.io" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>draw.io</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://sparxsystems.com/products/ea" title="Enterprise Architect" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Enterprise Architect</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://c4model.com" title="C4 Models" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>C4 Models</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Other*@