@inherits TechStackModel
@page "/techstack"

<div class="row">
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    @*Languages*@
    <div class="row">
        <h6>Languages</h6>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.CSharp" title="C# 10" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="C#" src="@Config.Images.TechStack.Languages.CSharp" class="img-fluid" title="C#" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.JAVA" title="JAVA" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="JAVA" src="@Config.Images.TechStack.Languages.JAVA" class="img-fluid" title="JAVA" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Javascript" title="Javascript" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Javascript" src="@Config.Images.TechStack.Languages.Javascript" class="img-fluid" title="Javascript" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Python" title="Python" target="_blank" class="blanklink">
                <div class="mt-1 p-1  text-white rounded text-center">
                    <img alt="Python" src="@Config.Images.TechStack.Languages.Python" class="img-fluid" title="Python" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Angular" title="Angular" target="_blank" class="blanklink">
                <div class="mt-1 p-1  text-white rounded text-center">
                    <img alt="Angular" src="@Config.Images.TechStack.Languages.Angular" class="img-fluid" title="Angular" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.React" title="React" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="React" src="@Config.Images.TechStack.Languages.React" class="img-fluid" title="React" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Frameworks*@
    <div class="row">
        <h6>Frameworks</h6>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Frameworks.dotnet" title=".NET Framework" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt=".NET Framework" src="@Config.Images.TechStack.Frameworks.dotnet" class="img-fluid" title=".NET Framework" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Frameworks.dotnetcore" title=".NET Core" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt=".NET Core" src="@Config.Images.TechStack.Frameworks.dotnetcore" class="img-fluid" title=".NET Core" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Frameworks.spring" title="Spring" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Spring" src="@Config.Images.TechStack.Frameworks.spring" class="img-fluid" title="Spring" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Front-end*@
    <div class="row">
        <h6>Front-end</h6>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.JAVA" title="JAVA" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="JAVA" src="@Config.Images.TechStack.Languages.JAVA" class="img-fluid" title="JAVA" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Javascript" title="Javascript" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Javascript" src="@Config.Images.TechStack.Languages.Javascript" class="img-fluid" title="Javascript" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Python" title="Python" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Python" src="@Config.Images.TechStack.Languages.Python" class="img-fluid" title="Python" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Angular" title="Angular" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Angular" src="@Config.Images.TechStack.Languages.Angular" class="img-fluid" title="Angular" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.React" title="React" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="React" src="@Config.Images.TechStack.Languages.React" class="img-fluid" title="React" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.HTML5" title="HTML 5" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="HTML 5" src="@Config.Images.TechStack.FrontEnd.HTML5" class="img-fluid" title="HTML 5" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.HTML5BoilerPlate" title="HTML 5: Boilerplate" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="HTML 5 Boilerplate" src="@Config.Images.TechStack.FrontEnd.HTML5BoilerPlate" class="img-fluid" title="HTML 5 BoilerPlate" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.CSS" title="CSS" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="CSS" src="@Config.Images.TechStack.FrontEnd.CSS" class="img-fluid" title="CSS" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.jQuery" title="jQuery" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="jQuery" src="@Config.Images.TechStack.FrontEnd.jQuery" class="img-fluid" title="jQuery" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.Bootstrap" title="Bootstrap" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Bootstrap" src="@Config.Images.TechStack.FrontEnd.Bootstrap" class="img-fluid" title="Bootstrap" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.ASPNET" title="ASP.NET" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="ASP.NET" src="@Config.Images.TechStack.FrontEnd.ASPNET" class="img-fluid" title="ASP.NET" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.ASPNETMVC" title="ASP.NET MVC" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="ASP.NET MVC" src="@Config.Images.TechStack.FrontEnd.ASPNETMVC" class="img-fluid" title="ASP.NET MVC" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.Blazor" title="Blazor" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Blazor" src="@Config.Images.TechStack.FrontEnd.Blazor" class="img-fluid" title="Blazor" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.WPF" title="Microsoft WPF" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Microsoft WPF" src="@Config.Images.TechStack.FrontEnd.WPF" class="img-fluid" title="Microsoft WPF" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.WindowsForms" title="Microsoft Windows Forms" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Microsoft Windows Forms" src="@Config.Images.TechStack.FrontEnd.WindowsForms" class="img-fluid" title="Microsoft Windows Forms" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.MAUI" title=".NET MAUI" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt=".NET MAUI" src="@Config.Images.TechStack.FrontEnd.MAUI" class="img-fluid" title=".NET MAUI" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.Xamarin" title="Xamarin" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Xamarin" src="@Config.Images.TechStack.FrontEnd.Xamarin" class="img-fluid" title="Xamarin" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Back-end*@
    <div class="row">
        <h6>Back-end</h6>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.WCF" title="WCF" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="WCF" src="@Config.Images.TechStack.BackEnd.WCF" class="img-fluid" title="WCF" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.ASPAPI" title="ASP.NET Core API" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="ASP.NET Core API" src="@Config.Images.TechStack.BackEnd.ASPAPI" class="img-fluid" title="ASP.NET Core API" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.Microservices" title="Microservices" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Microservices" src="@Config.Images.TechStack.BackEnd.Microservices" class="img-fluid" title="Microservices" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.Swagger" title="Swagger" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Swagger" src="@Config.Images.TechStack.BackEnd.Swagger" class="img-fluid" title="Swagger" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Cloud*@
    <div class="row">
        <h6>Cloud</h6>
        <div class="row">
            <div class="col-sm-1">
                <a href="@Config.Tech.Links.Cloud.AWS" title="AWS" target="_blank" class="blanklink">
                    <div class="mt-1 p-1 text-white rounded text-center">
                        <img alt="AWS" src="@Config.Images.TechStack.Cloud.AWS" class="img-fluid" title="AWS" />
                    </div>
                </a>
            </div>
            <div class="col-sm-1">
                <a href="@Config.Tech.Links.Cloud.Azure" title="Azure" target="_blank" class="blanklink">
                    <div class="mt-1 p-1 text-white rounded text-center ">
                        <img alt="Azure" src="@Config.Images.TechStack.Cloud.Azure" class="img-fluid" title="Azure" />
                    </div>
                </a>
            </div>
            <div class="col-sm-1">
                <a href="@Config.Tech.Links.Cloud.Google" title="Google" target="_blank" class="blanklink">
                    <div class="mt-1 p-1 text-white rounded text-center ">
                        <img alt="Google" src="@Config.Images.TechStack.Cloud.Google" class="img-fluid" title="Google" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr />
    @*IoT*@
    <div class="row">
        <h6>IoT</h6>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.IoT.Arduino" title="Arduino" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Google" src="@Config.Images.TechStack.IoT.Arduino" class="img-fluid" title="Google" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.IoT.MQTT" title="MQTT" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Google" src="@Config.Images.TechStack.IoT.MQTT" class="img-fluid" title="Google" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.IoT.RaspberryPi" title="Raspberry Pi" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Raspberry Pi" src="@Config.Images.TechStack.IoT.RaspberryPi" class="img-fluid" title="Raspberry Pi" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Big Data*@
    <h6>Big Data</h6>
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BigData.Kafka" title="Apache Kafka" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache Kafka" src="@Config.Images.TechStack.BigData.Kafka" class="img-fluid" title="Apache Kafka" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BigData.MSK" title="AWS MSK" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="AWS MSK" src="@Config.Images.TechStack.BigData.MSK" class="img-fluid" title="AWS MSK" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Analytics*@
    <h6>Analytics</h6>
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Analytics.Google" title="Google Analytics" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Google Analytics" src="@Config.Images.TechStack.Analytics.Google" class="img-fluid" title="Google Analytics" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Analytics.PowerBI" title="Microsoft Power BI" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Microsoft Power BI" src="@Config.Images.TechStack.Analytics.PowerBI" class="img-fluid" title="Microsoft Power BI" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Analytics.OLAP" title="OLAP Cubes" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="OLAP Cubes" src="@Config.Images.TechStack.Analytics.OLAP" class="img-fluid" title="OLAP Cubes" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Web Hosting*@
    <h6>Web Hosting</h6>
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Apache" title="Apache HTTP" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache HTTP" src="@Config.Images.TechStack.Hosting.Apache" class="img-fluid" title="Apache HTTP" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.xampp" title="Apache XAMPP" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache XAMPP" src="@Config.Images.TechStack.Hosting.xampp" class="img-fluid" title="Apache XAMPP" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.nginx" title="nginx" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="nginx" src="@Config.Images.TechStack.Hosting.nginx" class="img-fluid" title="nginx" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.cPanel" title="cPanel" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="cPanel" src="@Config.Images.TechStack.Hosting.cPanel" class="img-fluid" title="cPanel" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Joomla" title="Joomla" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Joomla" src="@Config.Images.TechStack.Hosting.Joomla" class="img-fluid" title="Joomla" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Wordpress" title="Wordpress" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Wordpress" src="@Config.Images.TechStack.Hosting.Wordpress" class="img-fluid" title="Wordpress" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Bitnami" title="Bitnami" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Bitnami" src="@Config.Images.TechStack.Hosting.Bitnami" class="img-fluid" title="Bitnami" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.IIS" title="IIS" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="IIS" src="@Config.Images.TechStack.Hosting.IIS" class="img-fluid" title="IIS" />
                </div>
            </a>
        </div>
    </div>
    <hr />
    @*Source Control*@
    <h6>Source Control</h6>
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.Git" title="Git" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Git" src="@Config.Images.TechStack.SourceControl.Git" class="img-fluid" title="Git" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.GitHub" title="GitHub" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="GitHub" src="@Config.Images.TechStack.SourceControl.GitHub" class="img-fluid" title="GitHub" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.GitLab" title="GitLab" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="GitLab" src="@Config.Images.TechStack.SourceControl.GitLab" class="img-fluid" title="GitLab" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.AWSCodeCommit" title="AWS CodeCommit" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="AWS CodeCommit" src="@Config.Images.TechStack.SourceControl.AWSCodeCommit" class="img-fluid" title="AWS CodeCommit" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.TFS" title="Team Foundation Server" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Team Foundation Server" src="@Config.Images.TechStack.SourceControl.TFS" class="img-fluid" title="Team Foundation Server" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.AzureDevOps" title="Azure DevOps" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Azure DevOps" src="@Config.Images.TechStack.SourceControl.AzureDevOps" class="img-fluid" title="Azure DevOps" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.Bitbucket" title="Bitbucket" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Bitbucket" src="@Config.Images.TechStack.SourceControl.Bitbucket" class="img-fluid" title="Bitbucket" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.TortoiseSVN" title="TortoiseSVN" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Tortoise SVN" src="@Config.Images.TechStack.SourceControl.TortoiseSVN" class="img-fluid" title="Tortoise SVN" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.SourceControl.VisualSVN" title="Visual SVN" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Visual SVN" src="@Config.Images.TechStack.SourceControl.VisualSVN" class="img-fluid" title="Visual SVN" />
                </div>
            </a>
        </div>
    </div>
</div>


<hr />








<hr />
@*Testing & QA*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://jmeter.apache.org" title="jMeter" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>jMeter</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://insomnia.rest" title="Insomnia" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Insomnia</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.postman.com" title="Postman" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Postman</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://smartbear.com/product/ready-api" title="Ready API" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Ready API</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://smartbear.com/product/testcomplete" title="Test Complete" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Test Complete</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*DevOps*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.rancher.com" title="Rancher" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Rancher</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.consul.io" title="HCP Consul" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HCP Consul</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.mirantis.com/software/mirantis-kubernetes-engine" title="Mirantis" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Mirantis</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.ansible.com" title="Ansible" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Ansible</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.jenkins.io" title="Jenkins" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Jenkins</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.docker.com" title="Docker" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Docker</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.terraform.io" title="Terraform" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Terraform</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://kubernetes.io" title="K8S" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>K8S</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://maven.apache.org" title="Apache Maven" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Apache Maven</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Monitoring*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.ibm.com/products/instana" title="Instana" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Instana</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://grafana.com" title="Grafana" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Grafana</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://opensearch.org" title="OpenSearch" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>OpenSearch</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.elastic.co/elasticsearch" title="Elastic" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Elastic</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.pagerduty.com/" title="PagerDuty" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>PagerDuty</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Database*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/sql-server" title="Microsoft SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.mysql.com" title="MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.postgresql.org" title="PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/dynamodb" title="Amazon DynamoDB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon DynamoDB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds" title="Amazon RDS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/aurora" title="Amazon RDS: Aurora" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: Aurora</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/mysql" title="Amazon RDS: MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/postgresql" title="Amazon RDS: PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/sqlserver" title="Amazon RDS: SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/custom" title="Amazon RDS: Custom" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: Custom</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/documentdb" title="Amazon DocumentDB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon DocumentDB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/redshift" title="Amazon Redshift" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon Redshift</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/cosmos-db" title="Azure: Cosmos DB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: Cosmos DB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/azure-sql/database" title="Azure: SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/postgresql" title="Azure: PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/mysql" title="Azure: MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/cache" title="Azure Cache for Redis 2" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure Cache for Redis 2</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Security*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.hashicorp.com/products/vault" title="HCP Vault" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HCP Vault</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Software*@
<div class="row">
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/jira" title="JIRA" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>JIRA</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/confluence" title="Confluence" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Confluence</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/jira/service-management" title="JIRA Service Management" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>JIRA Service Management</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://slack.com" title="Slack" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Slack</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://trello.com" title="Trello" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Trello</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.jenkins.io" title="Jenkins" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Jenkins</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://developer.hashicorp.com/terraform/enterprise" title="Terraform Enterprise" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Terraform Enterprise</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.lucidchart.com" title="Lucidchart" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidchart</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://lucidspark.com" title="Lucidspark" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidspark</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://lucidscale.com" title="Lucidscale" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidscale</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://draw.io" title="draw.io" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>draw.io</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://sparxsystems.com/products/ea" title="Enterprise Architect" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Enterprise Architect</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://c4model.com" title="C4 Models" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>C4 Models</h3>
            </div>
        </a>
    </div>
</div>

<hr />
@*Other*@