@page "/techstack/back-end"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Back-end</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.WCF" title="WCF" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="WCF" src="@Config.Images.TechStack.BackEnd.WCF" class="img-fluid" title="WCF" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.ASPAPI" title="ASP.NET Core API" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="ASP.NET Core API" src="@Config.Images.TechStack.BackEnd.ASPAPI" class="img-fluid" title="ASP.NET Core API" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.Microservices" title="Microservices" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Microservices" src="@Config.Images.TechStack.BackEnd.Microservices" class="img-fluid" title="Microservices" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.BackEnd.Swagger" title="Swagger" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Swagger" src="@Config.Images.TechStack.BackEnd.Swagger" class="img-fluid" title="Swagger" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.BackEnd.SpringBoot" title="Spring Boot" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Spring Boot" src="@Config.Images.TechStack.BackEnd.SpringBoot" class="img-fluid" title="Spring Boot" />
                </div>
            </a>
        </div>
    </div>
</div>