@page "/techstack/devops"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: DevOps</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Rancher" title="Rancher" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Complete" src="@Config.Images.TechStack.DevOps.Rancher" class="img-fluid" title="Complete" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Consul" title="HCP Consul" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="HCP Consul" src="@Config.Images.TechStack.DevOps.Consul" class="img-fluid" title="HCP Consul" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Mirantis" title="Mirantis" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Mirantis" src="@Config.Images.TechStack.DevOps.Mirantis" class="img-fluid" title="Mirantis" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Ansible" title="Ansible" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Ansible" src="@Config.Images.TechStack.DevOps.Ansible" class="img-fluid" title="Ansible" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Jenkins" title="Jenkins" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Jenkins" src="@Config.Images.TechStack.DevOps.Jenkins" class="img-fluid" title="Jenkins" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Docker" title="Docker" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Docker" src="@Config.Images.TechStack.DevOps.Docker" class="img-fluid" title="Docker" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Terraform" title="Terraform" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Terraform" src="@Config.Images.TechStack.DevOps.Terraform" class="img-fluid" title="Terraform" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.K8S" title="K8S" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="K8S" src="@Config.Images.TechStack.DevOps.K8S" class="img-fluid" title="K8S" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.DevOps.Maven" title="Apache Maven" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache Maven" src="@Config.Images.TechStack.DevOps.Maven" class="img-fluid" title="Maven" />
                </div>
            </a>
        </div>
    </div>
</div>