@page "/techstack/front-end"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Front-end &amp; Web</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.JAVA" title="JAVA" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="JAVA" src="@Config.Images.TechStack.Languages.JAVA" class="img-fluid" title="JAVA" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Javascript" title="Javascript" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Javascript" src="@Config.Images.TechStack.Languages.Javascript" class="img-fluid" title="Javascript" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Python" title="Python" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Python" src="@Config.Images.TechStack.Languages.Python" class="img-fluid" title="Python" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Angular" title="Angular" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Angular" src="@Config.Images.TechStack.Languages.Angular" class="img-fluid" title="Angular" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.React" title="React" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="React" src="@Config.Images.TechStack.Languages.React" class="img-fluid" title="React" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.HTML5" title="HTML 5" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="HTML 5" src="@Config.Images.TechStack.FrontEnd.HTML5" class="img-fluid" title="HTML 5" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.HTML5BoilerPlate" title="HTML 5: Boilerplate" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="HTML 5 Boilerplate" src="@Config.Images.TechStack.FrontEnd.HTML5BoilerPlate" class="img-fluid" title="HTML 5 BoilerPlate" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.CSS" title="CSS" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="CSS" src="@Config.Images.TechStack.FrontEnd.CSS" class="img-fluid" title="CSS" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.jQuery" title="jQuery" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="jQuery" src="@Config.Images.TechStack.FrontEnd.jQuery" class="img-fluid" title="jQuery" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.Bootstrap" title="Bootstrap" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Bootstrap" src="@Config.Images.TechStack.FrontEnd.Bootstrap" class="img-fluid" title="Bootstrap" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.ASPNET" title="ASP.NET" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="ASP.NET" src="@Config.Images.TechStack.FrontEnd.ASPNET" class="img-fluid" title="ASP.NET" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.ASPNETMVC" title="ASP.NET MVC" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="ASP.NET MVC" src="@Config.Images.TechStack.FrontEnd.ASPNETMVC" class="img-fluid" title="ASP.NET MVC" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.Blazor" title="Blazor" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Blazor" src="@Config.Images.TechStack.FrontEnd.Blazor" class="img-fluid" title="Blazor" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.WPF" title="Microsoft WPF" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Microsoft WPF" src="@Config.Images.TechStack.FrontEnd.WPF" class="img-fluid" title="Microsoft WPF" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.WindowsForms" title="Microsoft Windows Forms" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Microsoft Windows Forms" src="@Config.Images.TechStack.FrontEnd.WindowsForms" class="img-fluid" title="Microsoft Windows Forms" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.MAUI" title=".NET MAUI" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt=".NET MAUI" src="@Config.Images.TechStack.FrontEnd.MAUI" class="img-fluid" title=".NET MAUI" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.Xamarin" title="Xamarin" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Xamarin" src="@Config.Images.TechStack.FrontEnd.Xamarin" class="img-fluid" title="Xamarin" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.FrontEnd.SharePoint" title="SharePoint" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="SharePoint" src="@Config.Images.TechStack.FrontEnd.SharePoint" class="img-fluid" title="SharePoint" />
                </div>
            </a>
        </div>
    </div>
</div>