@page "/techstack/front-end"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Front-end</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.JS" title="Javascript" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <img alt="JS" src="@Config.Images.TechStack.FrontEnd.JS" class="img-fluid" title="Javascript" />
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.Bootstrap" title="Bootstrap" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <img alt="Bootstrap" src="@Config.Images.TechStack.FrontEnd.Bootstrap" class="img-fluid" title="Bootstrap" />
                <sub>Bootstrap 5</sub>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.CSS" title="CSS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <img alt="CSS" src="@Config.Images.TechStack.FrontEnd.CSS" class="img-fluid" title="CSS" />
            </div>
        </a>
    </div>
        <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.jQuery" title="jQuery" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <img alt="jQuery" src="@Config.Images.TechStack.FrontEnd.jQuery" class="img-fluid" title="jQuery" />
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.HTML5" title="HTML 5" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <img alt="HTML 5" src="@Config.Images.TechStack.FrontEnd.HTML5" class="img-fluid" title="HTML 5" />
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.HTML5BoilerPlate" title="HTML 5: Boilerplate" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <img alt="HTML 5 Boilerplate" src="@Config.Images.TechStack.FrontEnd.HTML5BoilerPlate" class="img-fluid" title="HTML 5" />
                <sub>HTML 5: Boilerplate</sub>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="@Config.Tech.Links.FrontEnd.Angular" title="Angular" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <img alt="Angular" src="@Config.Images.TechStack.FrontEnd.Angular" class="img-fluid" title="Angular" />
            </div>
        </a>
    </div>
</div>