@page "/techstack/iot"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: IoT</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.IoT.Arduino" title="Arduino" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Google" src="@Config.Images.TechStack.IoT.Arduino" class="img-fluid" title="Google" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.IoT.MQTT" title="MQTT" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Google" src="@Config.Images.TechStack.IoT.MQTT" class="img-fluid" title="Google" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.IoT.RaspberryPi" title="Raspberry Pi" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Raspberry Pi" src="@Config.Images.TechStack.IoT.RaspberryPi" class="img-fluid" title="Raspberry Pi" />
                </div>
            </a>
        </div>
    </div>
</div>