@page "/techstack/languages"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Languages</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.CSharp" title="C# 10" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="C#" src="@Config.Images.TechStack.Languages.CSharp" class="img-fluid" title="C#" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.JAVA" title="JAVA" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="JAVA" src="@Config.Images.TechStack.Languages.JAVA" class="img-fluid" title="JAVA" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Javascript" title="Javascript" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="Javascript" src="@Config.Images.TechStack.Languages.Javascript" class="img-fluid" title="Javascript" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Python" title="Python" target="_blank" class="blanklink">
                <div class="mt-1 p-1  text-white rounded text-center">
                    <img alt="Python" src="@Config.Images.TechStack.Languages.Python" class="img-fluid" title="Python" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.Angular" title="Angular" target="_blank" class="blanklink">
                <div class="mt-1 p-1  text-white rounded text-center">
                    <img alt="Angular" src="@Config.Images.TechStack.Languages.Angular" class="img-fluid" title="Angular" />
                </div>
            </a>
        </div>
        <div class="col-md-1">
            <a href="@Config.Tech.Links.Languages.React" title="React" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center">
                    <img alt="React" src="@Config.Images.TechStack.Languages.React" class="img-fluid" title="React" />
                </div>
            </a>
        </div>
    </div>
</div>