@page "/techstack/languages"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Languages</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.CSharp" title="C# 10" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="C#" src="@Config.Images.TechStack.Languages.CSharp" class="img-fluid" title="C#" />
                    <sub>C# 11</sub>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.JAVA" title="JAVA" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="JAVA" src="@Config.Images.TechStack.Languages.JAVA" class="img-fluid" title="JAVA" />
                    <sub>JAVA 21</sub>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.JS" title="Javascript" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="JS" src="@Config.Images.TechStack.Languages.JS" class="img-fluid" title="Javascript" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.MSSQL" title="Microsoft SQL" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Microsoft SQL" src="@Config.Images.TechStack.Languages.MSSQL" class="img-fluid" title="Microsoft SQL" />
                    <sub>Microsoft SQL 2022</sub>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="TSQL" title="Microsoft T-SQL" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Microsoft T-SQL" src="@Config.Images.TechStack.Languages.TSQL" class="img-fluid" title="Microsoft T-SQL" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.HTML5" title="HTML 5" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="HTML 5" src="@Config.Images.TechStack.Languages.HTML5" class="img-fluid" title="HTML 5" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.Python" title="Python" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Python" src="@Config.Images.TechStack.Languages.Python" class="img-fluid" title="Python" />
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Config.Tech.Links.Languages.Angular" title="Angular" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <img alt="Angular" src="@Config.Images.TechStack.Languages.Angular" class="img-fluid" title="Angular" />
                </div>
            </a>
        </div>
    </div>
</div>