@page "/techstack/software"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Software</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.JIRA" title="JIRA" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="JIRA" src="@Config.Images.TechStack.Software.JIRA" class="img-fluid" title="JIRA" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.Confluence" title="Confluence" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Confluence" src="@Config.Images.TechStack.Software.Confluence" class="img-fluid" title="Confluence" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.JIRASD" title="JIRA Service Management" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="JIRA Service Management" src="@Config.Images.TechStack.Software.JIRASD" class="img-fluid" title="JIRA Service Management" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.Slack" title="Slack" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Slack" src="@Config.Images.TechStack.Software.Slack" class="img-fluid" title="Slack" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.Trello" title="Trello" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Trello" src="@Config.Images.TechStack.Software.Trello" class="img-fluid" title="Trello" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.TerraformEnterprise" title="Terraform Enterprise" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="TerraformEnterprise " src="@Config.Images.TechStack.Software.TerraformEnterprise" class="img-fluid" title="Terraform Enterprise" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.TerraformCloud" title="Terraform Cloud" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Terraform Cloud" src="@Config.Images.TechStack.Software.TerraformCloud" class="img-fluid" title="Terraform Cloud" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.Lucidchart" title="Lucidchart" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Lucidchart" src="@Config.Images.TechStack.Software.Lucidchart" class="img-fluid" title="Lucidchart" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.Lucidspark" title="Lucidspark" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Lucidspark" src="@Config.Images.TechStack.Software.Lucidspark" class="img-fluid" title="Lucidspark" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.Lucidscale" title="Lucidscale" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Lucidscale" src="@Config.Images.TechStack.Software.Lucidscale" class="img-fluid" title="Lucidscale" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.DrawIO" title="draw.io" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="draw.io" src="@Config.Images.TechStack.Software.DrawIO" class="img-fluid" title="draw.io" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.EnterpriseArchitect" title="Enterprise Architect" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Enterprise Architect" src="@Config.Images.TechStack.Software.EnterpriseArchitect" class="img-fluid" title="Enterprise Architect" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Software.C4" title="C4 Models" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="C4 Models" src="@Config.Images.TechStack.Software.C4" class="img-fluid" title="C4 Models" />
                </div>
            </a>
        </div>
    </div>
</div>