@page "/techstack/sourcecontrol"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Source Control</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.TestingQA.jMeter" title="jMeter" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="jMeter" src="@Config.Images.TechStack.TestingQA.jMeter" class="img-fluid" title="jMeter" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.TestingQA.Insomnia" title="Insomnia" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Insomnia" src="@Config.Images.TechStack.TestingQA.Insomnia" class="img-fluid" title="Insomnia" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.TestingQA.Postman" title="Postman" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Postman" src="@Config.Images.TechStack.TestingQA.Postman" class="img-fluid" title="Postman" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.TestingQA.ReadyAPI" title="Ready API" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Ready API" src="@Config.Images.TechStack.TestingQA.ReadyAPI" class="img-fluid" title="Ready API" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.TestingQA.TestComplete" title="Test Complete" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Test Complete" src="@Config.Images.TechStack.TestingQA.TestComplete" class="img-fluid" title="Test Complete" />
                </div>
            </a>
        </div>
    </div>
</div>