@page "/techstack/webhosting"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Web Hosting</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Apache" title="Apache HTTP" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache HTTP" src="@Config.Images.TechStack.Hosting.Apache" class="img-fluid" title="Apache HTTP" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.xampp" title="Apache XAMPP" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Apache XAMPP" src="@Config.Images.TechStack.Hosting.xampp" class="img-fluid" title="Apache XAMPP" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.nginx" title="nginx" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="nginx" src="@Config.Images.TechStack.Hosting.nginx" class="img-fluid" title="nginx" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.cPanel" title="cPanel" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="cPanel" src="@Config.Images.TechStack.Hosting.cPanel" class="img-fluid" title="cPanel" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Joomla" title="Joomla" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Joomla" src="@Config.Images.TechStack.Hosting.Joomla" class="img-fluid" title="Joomla" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Wordpress" title="Wordpress" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Wordpress" src="@Config.Images.TechStack.Hosting.Wordpress" class="img-fluid" title="Wordpress" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.Bitnami" title="Bitnami" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="Bitnami" src="@Config.Images.TechStack.Hosting.Bitnami" class="img-fluid" title="Bitnami" />
                </div>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="@Config.Tech.Links.Hosting.IIS" title="IIS" target="_blank" class="blanklink">
                <div class="mt-1 p-1 text-white rounded text-center ">
                    <img alt="IIS" src="@Config.Images.TechStack.Hosting.IIS" class="img-fluid" title="IIS" />
                </div>
            </a>
        </div>
    </div>
</div>